/** CSS class for the cart page **/

/*--------- Cart ---------*/

#cart_checkout_btn{
    float: right;
}

#cart_tooltip{
    float: right;
}

#cart_total_price{
    float:  left;
    padding: 0;
    margin: 0;
}

#cart_total_price > p{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
    padding:0;
}

#cart_container{
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 47px;
    top: 0px;
    left: 0px;
}

#cart_scroller{
    position: relative;
    overflow: hidden;
}

.btn_remove{
    border: none;
    outline: none !important;
    background-color: transparent;
}

.cart_card_right{
    text-align: right;
    position: relative;
    padding-right: 10px;
}

.cart_cartEntry_text{
    margin-top: -10px;
}


.cart_card_total_price{
    right: 0;
    bottom: 0;
    white-space: nowrap;
    margin-top: 30px;
}

h4{
    font-weight: bolder;
}


/*--------- checkout onClick ---------*/
#cart_cancelCheckout{
    display: none;
}

#cart_cancelledCheckout{
    display: none;
}

#cart_paidCheckout{
    display: none;
}

.cart_checkoutError{
    color:red;
    font-weight: bolder;
}

.cart_checkoutSuccess{
    color: green;
    font-weight: bolder;
}

#qrCodeInfo{
    font-style: italic;
}

/*--------- loading gif ---------*/
#cartSentLoader{
    display:none;
    text-align: center;
}


