body, html{
    color: black; 
    margin: 0 !important;
    padding: 0 !important; 
    height: 100%;
}

#content{
    width: 100%;
    height: 100%;
    padding-top: 52px;
    position: relative;
}

/* Overlay when sidebar is opened */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 10;
}

/* loading gif */
#loading{	
    visibility:hidden;
    z-index: 1100;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
}
