body{
    color: black;  
}

#content{
    width: 100%;
    height: 100%;
    padding-top: 52px;
}

/* Overlay when sidebar is opened */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 10;
}