/** CSS class for the intenvory page **/

.row-inventory{
    border: 1px solid;
    background-color: white;
}

.row-inventory-head{
    font-weight: bold;
}

.row-inventory + .row-inventory {
    border-top:0 ;
}

.inventory_productName{
    float:left;
    width: 30%;
}

.inventory_productId{
    float:left;
    width: 10%;
}

.inventory_amount{
    float:left;
    width: 10%;
}

.inventory_userName{
    float:left;
    width: 25%;
}

.inventory_updatet_at{
    float: left;
    width: 25%;
}

#inventory_reload{
    float: right;
    margin-left: 2px;
}

#inventory_export_csv{
    float: right;
    margin-left: 2px;
}

#inventory_export_json {
    float: right;
    margin-left: 2px;
}

#inventoryLoader{
    margin-top: 30px;
    display: none;
}

#inventory_print{
    float: right;
    margin-left: 2px;
}

#inventory_delete_tooltip{
    float: right;
    margin-left: 2px;
}

#inventory_empty{
    margin-top: 30px;
    display: none;
}

/*--------- adaptions for the different resolutions ---------*/
@media(min-width: 768px){
    .inventory_container{
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .inventory_container{
        padding: 18px;
    }
}