/** CSS class for the navigation **/
.navbar-default {
    background-color: #E0E0E0;
    border:none;
}

.navbar-default .navbar-brand {
    float:left;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #384f54;
}


.navbar-brand-text{
    color: #545353 !important;
    float:left;
    display: block;
    text-align: center;
    line-height: 0;
    margin-left: -28px;
    margin-top: -2px;
}

.navbar-brand-logo{
    max-height:37px;
    margin-top: -7px;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}   



/*--------- sidebar icons ---------*/
.navbar_icon{
    background-position: center center;
    font-size: 1.5em;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
    color: #323232;
    opacity: 0.7;
}


/*--------- sidebar toggle ---------*/
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}

#sidebar-wrapper {
  top: 51px;
  left: -200px;
  width: 200px;
  background-color: #f3f3f3;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
  height: 100%;
  background-color: #FFFFFF;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: black;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(224, 224, 224, 1);
  color: black;
  font-weight: bolder;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  color: black;
  font-weight: bolder;
  background: rgba(224, 224, 224, 1);
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}

.active{
  color: black;
  font-weight: bolder;
  background: rgba(224, 224, 224, 1);
}


/*--------- set hamburger-toggle on the left side ---------*/
.custom-navbar .navbar-toggle {
    float: left;
}


/*--------- animate hamburger-toggle on click ---------*/
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/*--------- Overlay when sidebar is opened ---------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 10;
}

/*--------- heading of a page ---------*/
#h1_div{
    width: 100%;
    position: fixed;
    background-color: #384f54;
    top: 50px;
    padding-left: 9px;
    z-index: 10;
    border: 1px solid #545353;
}

#h1_title{
    color: white;
    font-size: 14px;
    margin: 1px;
}


/*--------- shopping cart icon ---------*/
#cart_button{
    border:0px solid transparent;
    border-radius: 0px;
    z-index: 99999;
    position:absolute;
    right: 0px;
    height: 50px;
    top: 0px;
    padding-top: 10px;
    font-size: 1.8em;
    background-color: transparent !important;
}

#cart_button_quantity{
    color: white;
    padding:1px;
    font-size: 11px;
    font-weight: bolder;
    right: 4px;
    top: 4px;
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 22px;
    text-align: center;
    display: none;
}

.cart_icon{
    position: relative;
}

/*--------- fablab icon ---------*/
#doorStateIcon{
    cursor: pointer;
}

#fablab_icon{
    cursor: pointer;
}