/** CSS class for the search page**/

/*--------- Product search ---------*/
#search_results_container{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}

#search_results{

    position: relative;
    overflow: hidden;
}

/*--------- loading gif ---------*/
#loadMoreProductsLoader{
    display:none;
    text-align: center;
}