/** CSS class for the search page**/
#search_loader_container{
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
}
#loadDataLoader{
    display: none;
}

#search_results{
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
    cursor: pointer;
}

@media (max-width: 767px) {
    #search_container{
        padding: 18px;
    }
}

@media(min-width: 768px){
    #search_container{
        margin-top: 35px;
    }
}