/** CSS class for the toolUsage page **/

.machineUsageEnabled {
    background-color: rgba(0,255,0,0.1);
}

.machineUsageDisabled {
    background-color: rgba(255,0,0,0.1);
}

/*--------- adaptions for the different resolutions ---------*/
@media(min-width: 768px){
    .toolUsage_container{
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .toolUsage_container{
        padding: 18px;
    }

    #addEntrySubmit{
        margin-top: 10px;
    }
}

@media (max-width: 991px){
    #addEntrySubmit{
        margin-top: 10px;
    }
}
